[submodule "lisp/aweshell"]
	path = lisp/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "lisp/counsel-firefox-bookmarks"]
	path = lisp/counsel-firefox-bookmarks
	url = https://github.com/tangxinfa/counsel-firefox-bookmarks
[submodule "evil-visual-mark-mode"]
	path = lisp/evil-visual-mark-mode
	url = https://github.com/roman/evil-visual-mark-mode
[submodule "emacs-leuven-theme"]
	path = themes/emacs-leuven-theme
	url = https://github.com/fniessen/emacs-leuven-theme
[submodule "lisp/pip-requirements.el"]
	path = lisp/pip-requirements.el
	url = https://github.com/Wilfred/pip-requirements.el
[submodule "lisp/flymake-cursor"]
	path = lisp/flymake-cursor
	url = ./lisp/flymake-cursor/
[submodule "lisp/help-plus"]
	path = lisp/help-plus
	url = ./lisp/help-plus/
[submodule "lisp/counsel-dash"]
	path = lisp/counsel-dash
	url = https://github.com/dash-docs-el/counsel-dash
[submodule "lisp/framemove"]
	path = lisp/framemove
	url = ./lisp/framemove/
